<h1>Delete Tenant</h1>

<form id="deleteTenantForm" action="/tenantsDelete/<%= tenant._id %>?_method=delete" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_id" value="<%= tenant._id %>">
    <p>Are you sure you want to delete this tenant?</p>
    <button type="submit">Delete Tenant</button>
</form>

<script>
</script>
