<h1>Delete Contract</h1>

<form id="deleteContractForm" action="/contractsDelete/<%= contract._id %>?_method=delete" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_id" value="<%= contract._id %>">
    <p>Are you sure you want to delete this contract?</p>
    <button type="submit">Delete Contract</button>
</form>

<script>
</script>
